Aluna: Pâmella Vitória Gomes Farias

Matrícula: 202021250032

Estatística Aplicada à Computação

Questão 1)

In [463]:
import numpy as np

In [464]:
import pandas as pd

In [465]:
pesqs2017 = pd.read_csv('https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=26909',encoding='latin1')

In [466]:
pesqs2018 = pd.read_csv('https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=33103',encoding='latin1')

In [467]:
pesqs2019 = pd.read_csv('https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=36821',encoding='latin1')

In [468]:
projs2017 = pd.read_csv('https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=26911',encoding='latin1')

In [469]:
projs2018 = pd.read_csv('https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=33101',encoding='latin1')

In [470]:
projs2019 = pd.read_csv('https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=36822',encoding='latin1')

In [471]:
pex2017 = pd.read_csv('https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=33133',encoding='latin1')

In [472]:
pex2018 = pd.read_csv('https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=33131',encoding='latin1')

In [473]:
pex2019 = pd.read_csv('https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=36482',encoding='latin1')

In [474]:
evex2017 = pd.read_csv('https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=33132',encoding='latin1')

In [475]:
evex2018 = pd.read_csv('https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=33130',encoding='latin1')

In [476]:
evex2019 = pd.read_csv('https://documento.ifnmg.edu.br/action.php?kt_path_info=ktcore.actions.document.view&fDocumentId=36480',encoding='latin1')

1º Passo: Ver as colunas coincidentes entre os dataframes dos pesquisadores e alterar nomes das colunas para padronizar os dados.

In [477]:
pesqs2017

               Pesquisadores do IFNMG      Unnamed: 1
0                         Pesquisador  Campus Lotação
1                  Adler Augusto Rath        Pirapora
2    Alberto Alexandre Assis Miranda    Montes Claros
3                    Alberto da Silva   Montes Claros
4         Alberto Luiz Ferreira Berto        Januária
..                                ...             ...
270           Wesley Antunes Meireles         Salinas
271     Wesley Florentino de Oliveira        Pirapora
272               Wilma Maria Pereira        Pirapora
273       Wolff Camargo Marques Filho         Salinas
274                Yuri Bento Marques   Teófilo Otoni

[275 rows x 2 columns]

In [478]:
pesqs2018

    Projetos de Pesquisa Cadastrados em 2018     Unnamed: 1
0                           Nome Coordenador         Campus
1                              Alfredo Costa      Alamenara
2                Aline Márcia Carraro Borges      Alamenara
3                    Edimilson Alves Barbosa      Alamenara
4                      Ednilton Moreira Gama      Alamenara
..                                       ...            ...
180                Gustavo Henrique de Souza  Teófilo Otoni
181         Gustavo Henrique Silva de Souza   Teófilo Otoni
182               Henrique Faria de Oliveira  Teófilo Otoni
183            Renildo Ismael Félix da Costa  Teófilo Otoni
184                       Yuri Bento Marques  Teófilo Otoni

[185 rows x 2 columns]

In [479]:
pesqs2019

,Coordenadores de Projetos de Pesquisa Cadastrados por Campus,Unnamed: 1
0,Nome do Coordenador,Campus
1,Alan Teixeira de Oliveira,Almenara
2,Alex Lara Martins,Almenara
3,Alfredo Costa,Almenara
4,Daiane Prates Mendonça,Almenara
...,...,...
206,Gustavo Henrique Silva de Souza,Teófilo Otoni
207,Ivan Carlos Carreiro Almeida,Teófilo Otoni
208,Luara Cristiane Dourado Neves,Teófilo Otoni
209,Maria Terezinha Pereira Pestana,Teófilo Otoni
210,Yuri Bento Marques,Teófilo Otoni

In [480]:
pesqs2017.rename(columns={'Pesquisadores do IFNMG':'Coordenador','Unnamed: 1':'Campus'}, inplace = True)

In [481]:
pesqs2017

                          Coordenador          Campus
0                         Pesquisador  Campus Lotação
1                  Adler Augusto Rath        Pirapora
2    Alberto Alexandre Assis Miranda    Montes Claros
3                    Alberto da Silva   Montes Claros
4         Alberto Luiz Ferreira Berto        Januária
..                                ...             ...
270           Wesley Antunes Meireles         Salinas
271     Wesley Florentino de Oliveira        Pirapora
272               Wilma Maria Pereira        Pirapora
273       Wolff Camargo Marques Filho         Salinas
274                Yuri Bento Marques   Teófilo Otoni

[275 rows x 2 columns]

In [482]:
pesqs2018.rename(columns={'Projetos de Pesquisa Cadastrados em 2018':'Coordenador','Unnamed: 1':'Campus'}, inplace = True)

In [483]:
pesqs2018

                          Coordenador         Campus
0                    Nome Coordenador         Campus
1                       Alfredo Costa      Alamenara
2         Aline Márcia Carraro Borges      Alamenara
3             Edimilson Alves Barbosa      Alamenara
4               Ednilton Moreira Gama      Alamenara
..                                ...            ...
180         Gustavo Henrique de Souza  Teófilo Otoni
181  Gustavo Henrique Silva de Souza   Teófilo Otoni
182        Henrique Faria de Oliveira  Teófilo Otoni
183     Renildo Ismael Félix da Costa  Teófilo Otoni
184                Yuri Bento Marques  Teófilo Otoni

[185 rows x 2 columns]

In [484]:
pesqs2019.rename(columns={'Coordenadores de Projetos de Pesquisa Cadastrados  por Campus':'Coordenador','Unnamed: 1':'Campus'}, inplace = True)

In [485]:
pesqs2019

                         Coordenador         Campus
0               Nome do Coordenador          Campus
1          Alan Teixeira de Oliveira       Almenara
2                  Alex Lara Martins       Almenara
3                      Alfredo Costa       Almenara
4             Daiane Prates Mendonça       Almenara
..                               ...            ...
206  Gustavo Henrique Silva de Souza  Teófilo Otoni
207     Ivan Carlos Carreiro Almeida  Teófilo Otoni
208    Luara Cristiane Dourado Neves  Teófilo Otoni
209  Maria Terezinha Pereira Pestana  Teófilo Otoni
210               Yuri Bento Marques  Teófilo Otoni

[211 rows x 2 columns]

2º Passo: Retirada da 1ª linha dos Dataframes dos pesquisadores

In [486]:
pesqs2017=pesqs2017.drop(0)

In [487]:
pesqs2018=pesqs2018.drop(0)

In [488]:
pesqs2019=pesqs2019.drop(0)

In [489]:
pesqs2017

                           Coordenador         Campus
1                   Adler Augusto Rath       Pirapora
2     Alberto Alexandre Assis Miranda   Montes Claros
3                     Alberto da Silva  Montes Claros
4          Alberto Luiz Ferreira Berto       Januária
5    Alcides Ricardo Gomes de Oliveira        Salinas
..                                 ...            ...
270            Wesley Antunes Meireles        Salinas
271      Wesley Florentino de Oliveira       Pirapora
272                Wilma Maria Pereira       Pirapora
273        Wolff Camargo Marques Filho        Salinas
274                 Yuri Bento Marques  Teófilo Otoni

[274 rows x 2 columns]

In [490]:
pesqs2018

                          Coordenador         Campus
1                       Alfredo Costa      Alamenara
2         Aline Márcia Carraro Borges      Alamenara
3             Edimilson Alves Barbosa      Alamenara
4               Ednilton Moreira Gama      Alamenara
5             Emanuelly Alves Pelogio      Alamenara
..                                ...            ...
180         Gustavo Henrique de Souza  Teófilo Otoni
181  Gustavo Henrique Silva de Souza   Teófilo Otoni
182        Henrique Faria de Oliveira  Teófilo Otoni
183     Renildo Ismael Félix da Costa  Teófilo Otoni
184                Yuri Bento Marques  Teófilo Otoni

[184 rows x 2 columns]

In [491]:
pesqs2019

                         Coordenador         Campus
1          Alan Teixeira de Oliveira       Almenara
2                  Alex Lara Martins       Almenara
3                      Alfredo Costa       Almenara
4             Daiane Prates Mendonça       Almenara
5             Danuza Araújo de Souza       Almenara
..                               ...            ...
206  Gustavo Henrique Silva de Souza  Teófilo Otoni
207     Ivan Carlos Carreiro Almeida  Teófilo Otoni
208    Luara Cristiane Dourado Neves  Teófilo Otoni
209  Maria Terezinha Pereira Pestana  Teófilo Otoni
210               Yuri Bento Marques  Teófilo Otoni

[210 rows x 2 columns]

3º Passo: Ver as colunas coincidentes entre os dataframes dos projetos de pesquisa e alterar nomes das colunas para padronizar os dados.

In [492]:
projs2017

,Projetos de Pesquisa Cadastrados em 2017,Unnamed: 1,Unnamed: 2
0,Campus,Título,Nome Coordenador
1,Almenara,Da Maternidade Linguística ao Discurso: Possív...,Christiano Titonelo Santana
2,Almenara,A Percepção das Puérperas Sobre as Ações Educa...,Diane Prates Mendonça
3,Almenara,Desenvolvimento de uma Plataforma Digital para...,Tiago Bicalho Ferreira
4,Almenara,IFAPP  Desenvolvimento de um Software Aplicat...,Marcos Vinícius Montanari
...,...,...,...
268,Salinas,Fenologia de Diospyros Sericea A. DC. (Ebenace...,Michellia Pereira Soares
269,Salinas,Utilização do Mesocarpo Externo do Pequi (Cary...,Alexandre Santos de Souza
270,Salinas,Elaboração do Caldo de pequi (Caryocar brasili...,Alexandre Santos de Souza
271,Teófilo Otoni,Historietas do Comportamento Brasileiro: Valid...,Gustavo Henrique Silva de Souza
272,Teófilo Otoni,Plataforma Online para Mapeamento da Cultura n...,Yuri Bento Marques

In [493]:
projs2018

,Projetos de Pesquisa Cadastrados em 2018,Unnamed: 1,Unnamed: 2
0,Campus,Título,Nome Coordenador
1,Alamenara,Intervenção na Prevenção e Controle do Tabagis...,Rosângela Ferreira Ribeiro
2,Alamenara,Estratégias para Enfrentamentos aos Agravos À ...,Valéria Gonzaga Botelho
3,Alamenara,Planejamento Estratégico Aplicado a Micro e Pe...,Emanuelly Alves Pelogio
4,Alamenara,Qualidade de Vida no Trabalho: Estudo de Caso ...,Aline Márcia Carraro Borges
...,...,...,...
282,Teófilo Otoni,"Comportamento Empreendedor, Valores Básicos e ...",Gustavo Henrique Silva de Souza
283,Teófilo Otoni,Modelos Motivacionais Padronizados na Administ...,Gustavo Henrique Silva de Souza
284,Teófilo Otoni,Tanque guarda-chuva: Desenvolvimento de Sistem...,Renildo Ismael Félix da Costa
285,Teófilo Otoni,"Comportamento Empreendedor, Valores Básicos e ...",Gustavo Henrique de Souza
286,Teófilo Otoni,Clima Organizacional e Padrões Individuais no ...,Gustavo Henrique Silva de Souza

In [494]:
projs2019

,Campus,Título,Nome Coordenador,
0,Almenara,Desenvolvimento de método analítico para deter...,Ednilton Moreira Gama,NaN
1,Almenara,Aprimorar é preciso: Pesquisa de percepção sob...,Alfredo Costa,NaN
2,Almenara,Produção de guias de estudo para o modelo de s...,Regina Mendes de Araújo,NaN
3,Almenara,Avaliação Gerencial em Administração Pública: ...,Dayane Patrícia Cunha de França,NaN
4,Almenara,Análise do Perfil Epidomiologia da Hanseníase ...,Leila Conceição de Paula Miranda,NaN
...,...,...,...,...
372,Teófilo Otoni,Mapeamento e estrutura cultural do Norte de Mi...,Yuri Bento Marques,NaN
373,Teófilo Otoni,"Impactos da erosão hídrica, perda de solo e ág...",Ivan Carlos Carreiro Almeida,NaN
374,Teófilo Otoni,Empreendedores versus inventores: Testagem de ...,Gustavo Henrique Silva de Souza,NaN
375,Teófilo Otoni,Influência do Uso do Solo e da Topografia na P...,Ivan Carlos Carreiro Almeida,NaN
376,Teófilo Otoni,Instrumentação Padronizada na Administração de...,Ana Cláudia Gonçalves de Sá Jardim,NaN

In [495]:
projs2017.rename(columns={'Projetos de Pesquisa Cadastrados em 2017':'Campus','Unnamed: 1':'Título','Unnamed: 2':'Coordenador'}, inplace = True)

In [496]:
projs2018.rename(columns={'Projetos de Pesquisa Cadastrados em 2018':'Campus','Unnamed: 1':'Título','Unnamed: 2':'Coordenador'}, inplace = True)

4º Passo: Excluir coluna do Dataframe sobre os projetos de pesquisa referentes ao ano de 2019.

In [497]:
projs2019.columns

Index(['Campus', 'Título', ' Nome Coordenador', ' '], dtype='object')

In [498]:
projs2019=projs2019.drop(columns=[' '])

In [499]:
projs2017

,Campus,Título,Coordenador
0,Campus,Título,Nome Coordenador
1,Almenara,Da Maternidade Linguística ao Discurso: Possív...,Christiano Titonelo Santana
2,Almenara,A Percepção das Puérperas Sobre as Ações Educa...,Diane Prates Mendonça
3,Almenara,Desenvolvimento de uma Plataforma Digital para...,Tiago Bicalho Ferreira
4,Almenara,IFAPP  Desenvolvimento de um Software Aplicat...,Marcos Vinícius Montanari
...,...,...,...
268,Salinas,Fenologia de Diospyros Sericea A. DC. (Ebenace...,Michellia Pereira Soares
269,Salinas,Utilização do Mesocarpo Externo do Pequi (Cary...,Alexandre Santos de Souza
270,Salinas,Elaboração do Caldo de pequi (Caryocar brasili...,Alexandre Santos de Souza
271,Teófilo Otoni,Historietas do Comportamento Brasileiro: Valid...,Gustavo Henrique Silva de Souza
272,Teófilo Otoni,Plataforma Online para Mapeamento da Cultura n...,Yuri Bento Marques

In [500]:
projs2018

,Campus,Título,Coordenador
0,Campus,Título,Nome Coordenador
1,Alamenara,Intervenção na Prevenção e Controle do Tabagis...,Rosângela Ferreira Ribeiro
2,Alamenara,Estratégias para Enfrentamentos aos Agravos À ...,Valéria Gonzaga Botelho
3,Alamenara,Planejamento Estratégico Aplicado a Micro e Pe...,Emanuelly Alves Pelogio
4,Alamenara,Qualidade de Vida no Trabalho: Estudo de Caso ...,Aline Márcia Carraro Borges
...,...,...,...
282,Teófilo Otoni,"Comportamento Empreendedor, Valores Básicos e ...",Gustavo Henrique Silva de Souza
283,Teófilo Otoni,Modelos Motivacionais Padronizados na Administ...,Gustavo Henrique Silva de Souza
284,Teófilo Otoni,Tanque guarda-chuva: Desenvolvimento de Sistem...,Renildo Ismael Félix da Costa
285,Teófilo Otoni,"Comportamento Empreendedor, Valores Básicos e ...",Gustavo Henrique de Souza
286,Teófilo Otoni,Clima Organizacional e Padrões Individuais no ...,Gustavo Henrique Silva de Souza

In [501]:
projs2019

,Campus,Título,Nome Coordenador
0,Almenara,Desenvolvimento de método analítico para deter...,Ednilton Moreira Gama
1,Almenara,Aprimorar é preciso: Pesquisa de percepção sob...,Alfredo Costa
2,Almenara,Produção de guias de estudo para o modelo de s...,Regina Mendes de Araújo
3,Almenara,Avaliação Gerencial em Administração Pública: ...,Dayane Patrícia Cunha de França
4,Almenara,Análise do Perfil Epidomiologia da Hanseníase ...,Leila Conceição de Paula Miranda
...,...,...,...
372,Teófilo Otoni,Mapeamento e estrutura cultural do Norte de Mi...,Yuri Bento Marques
373,Teófilo Otoni,"Impactos da erosão hídrica, perda de solo e ág...",Ivan Carlos Carreiro Almeida
374,Teófilo Otoni,Empreendedores versus inventores: Testagem de ...,Gustavo Henrique Silva de Souza
375,Teófilo Otoni,Influência do Uso do Solo e da Topografia na P...,Ivan Carlos Carreiro Almeida
376,Teófilo Otoni,Instrumentação Padronizada na Administração de...,Ana Cláudia Gonçalves de Sá Jardim

5º Passo: exluir primeira linha dos Dataframes referentes ao ano de 2017 e 2018.

In [502]:
projs2017=projs2017.drop(0)

In [503]:
projs2018=projs2018.drop(0)

In [504]:
projs2017

,Campus,Título,Coordenador
1,Almenara,Da Maternidade Linguística ao Discurso: Possív...,Christiano Titonelo Santana
2,Almenara,A Percepção das Puérperas Sobre as Ações Educa...,Diane Prates Mendonça
3,Almenara,Desenvolvimento de uma Plataforma Digital para...,Tiago Bicalho Ferreira
4,Almenara,IFAPP  Desenvolvimento de um Software Aplicat...,Marcos Vinícius Montanari
5,Almenara,Divulgação do Potencial Turístico do Vale do J...,Rafael Porto Viana
...,...,...,...
268,Salinas,Fenologia de Diospyros Sericea A. DC. (Ebenace...,Michellia Pereira Soares
269,Salinas,Utilização do Mesocarpo Externo do Pequi (Cary...,Alexandre Santos de Souza
270,Salinas,Elaboração do Caldo de pequi (Caryocar brasili...,Alexandre Santos de Souza
271,Teófilo Otoni,Historietas do Comportamento Brasileiro: Valid...,Gustavo Henrique Silva de Souza
272,Teófilo Otoni,Plataforma Online para Mapeamento da Cultura n...,Yuri Bento Marques

In [505]:
projs2018

,Campus,Título,Coordenador
1,Alamenara,Intervenção na Prevenção e Controle do Tabagis...,Rosângela Ferreira Ribeiro
2,Alamenara,Estratégias para Enfrentamentos aos Agravos À ...,Valéria Gonzaga Botelho
3,Alamenara,Planejamento Estratégico Aplicado a Micro e Pe...,Emanuelly Alves Pelogio
4,Alamenara,Qualidade de Vida no Trabalho: Estudo de Caso ...,Aline Márcia Carraro Borges
5,Alamenara,Bobchurras: Solução Tecnológica em E-Ecommerce...,Thiago Bicalho Ferreira
...,...,...,...
282,Teófilo Otoni,"Comportamento Empreendedor, Valores Básicos e ...",Gustavo Henrique Silva de Souza
283,Teófilo Otoni,Modelos Motivacionais Padronizados na Administ...,Gustavo Henrique Silva de Souza
284,Teófilo Otoni,Tanque guarda-chuva: Desenvolvimento de Sistem...,Renildo Ismael Félix da Costa
285,Teófilo Otoni,"Comportamento Empreendedor, Valores Básicos e ...",Gustavo Henrique de Souza
286,Teófilo Otoni,Clima Organizacional e Padrões Individuais no ...,Gustavo Henrique Silva de Souza

In [506]:
projs2019

,Campus,Título,Nome Coordenador
0,Almenara,Desenvolvimento de método analítico para deter...,Ednilton Moreira Gama
1,Almenara,Aprimorar é preciso: Pesquisa de percepção sob...,Alfredo Costa
2,Almenara,Produção de guias de estudo para o modelo de s...,Regina Mendes de Araújo
3,Almenara,Avaliação Gerencial em Administração Pública: ...,Dayane Patrícia Cunha de França
4,Almenara,Análise do Perfil Epidomiologia da Hanseníase ...,Leila Conceição de Paula Miranda
...,...,...,...
372,Teófilo Otoni,Mapeamento e estrutura cultural do Norte de Mi...,Yuri Bento Marques
373,Teófilo Otoni,"Impactos da erosão hídrica, perda de solo e ág...",Ivan Carlos Carreiro Almeida
374,Teófilo Otoni,Empreendedores versus inventores: Testagem de ...,Gustavo Henrique Silva de Souza
375,Teófilo Otoni,Influência do Uso do Solo e da Topografia na P...,Ivan Carlos Carreiro Almeida
376,Teófilo Otoni,Instrumentação Padronizada na Administração de...,Ana Cláudia Gonçalves de Sá Jardim

In [507]:
projs2019.rename(columns={' Nome Coordenador':'Coordenador'}, inplace = True)

In [508]:
projs2019

,Campus,Título,Coordenador
0,Almenara,Desenvolvimento de método analítico para deter...,Ednilton Moreira Gama
1,Almenara,Aprimorar é preciso: Pesquisa de percepção sob...,Alfredo Costa
2,Almenara,Produção de guias de estudo para o modelo de s...,Regina Mendes de Araújo
3,Almenara,Avaliação Gerencial em Administração Pública: ...,Dayane Patrícia Cunha de França
4,Almenara,Análise do Perfil Epidomiologia da Hanseníase ...,Leila Conceição de Paula Miranda
...,...,...,...
372,Teófilo Otoni,Mapeamento e estrutura cultural do Norte de Mi...,Yuri Bento Marques
373,Teófilo Otoni,"Impactos da erosão hídrica, perda de solo e ág...",Ivan Carlos Carreiro Almeida
374,Teófilo Otoni,Empreendedores versus inventores: Testagem de ...,Gustavo Henrique Silva de Souza
375,Teófilo Otoni,Influência do Uso do Solo e da Topografia na P...,Ivan Carlos Carreiro Almeida
376,Teófilo Otoni,Instrumentação Padronizada na Administração de...,Ana Cláudia Gonçalves de Sá Jardim

6º Passo: Ver as colunas coincidentes entre os dataframes dos projetos de extensão e alterar nomes das colunas para padronizar os dados.

In [509]:
pex2017

,TÍTULO,NOME COORDENADOR,CAMPUS
0,Projeto de extensão para desenvolvimento da ca...,Alfredo Costa,Almenara
1,CineCampus: A sétima arte em formação,Pedro Herinque Prado da Silva,Almenara
2,Proposição de estratégias educacionais para d...,Alfredo Costa,Almenara
3,Utilização da vegetação nativa na alimentação...,Samuel Real Mota,Almenara
4,Acompanhamento dos Egressos do IFNMG/Campus A...,Benedita Silveira Neta,Almenara
...,...,...,...
220,Semana Interna de Prevenção de Acidente - SIPAT,Valmir Pereira Magalhães,Reitoria
221,Elaboração de portfólio de Oportunidades do IFNMG,Fernando Antônio Thomé Andrade,Reitoria
222,Semana Integrada de Eventos,Kleber Carvalho dos Santos,Reitoria
223,Reestruturação da pagina da Extensão no Portal...,Gustavo Henrich Evangelista Vieira,Reitoria
224,Clube do Empreendedor no IFNMG,Wadingthon Veloso Silva,Reitoria

In [510]:
pex2018

,TÍTULO,NOME COORDENADOR,CAMPUS
0,Introdução à Informática e Conceitos de Progra...,Thiago Bicalho Ferreira,Almenara
1,Health Life - software para gerenciamento de v...,Marcos Vinicius Montanari,Almenara
2,"Lixo Eletrônico: Inclusão Digital, Reaproveita...",Marco Aurelio Madureira de Carvalho,Almenara
3,Jogos Matemáticos: uma estratégia significativ...,Waldilainy de Campos,Almenara
4,Cidade Nova Digital III,Paulo Sergio Henrique dos Santos,Almenara
...,...,...,...
278,Projeto Acompanhamento de Egressos,Yuri Bento Marques,Teófilo Otoni
279,Projeto de Elaboração do Portfólio de Oportuni...,Yuri Bento Marques,Teófilo Otoni
280,Mucuri Cultura e Arte,Leandro de Paula Liberato,Teófilo Otoni
281,Desenvolvendo o Empreendedorismo Local: Ações ...,Gustavo Henrique Silva de Souza,Teófilo Otoni
282,Sustentabilidade Ambiental: Gerenciamento de R...,Ivan Carlos Carreiro Almeida,Teófilo Otoni

In [511]:
pex2019

,Título,Coordenador,Campus,Período de Execução
0,Análise da qualidade da água para o consumo hu...,Roberta Pereira Matos,ALMENARA,De 10/06/2019 a 07/12/2019
1,Desenvolvendo o Empreendedorismo Local: Ações ...,Paulo Eduardo Ferreira dos Santos,ALMENARA,De 01/05/2019 a 01/10/2019
2,Desenvolvimento de atividades para demonstraçã...,Edimilson Alves Barbosa,ALMENARA,De 10/06/2019 a 07/12/2019
3,Resgate e valorização de sementes de Feijão-Ca...,Jose Maria Gomes Neves,ALMENARA,De 10/06/2019 a 07/12/2019
4,EDUCAÇÃO EM SAÚDE SOBRE DOENÇAS CRÔNICAS NÃO -...,Leila Conceicao de Paula Miranda,ALMENARA,De 13/06/2019 a 05/12/2019
...,...,...,...,...
233,Xadrez nas escolas - Desenvolvendo Habilidades...,Heverton Schimidt Souza,TEÓFILO OTONI,De 02/05/2019 a 31/10/2019
234,RUMO AO PÓDIO - Um curso intensivo de Matemáti...,Carlos Alberto Lopes dos Santos de Oliveira,TEÓFILO OTONI,De 01/05/2019 a 20/12/2019
235,Projeto Hâpó,Edimar da Rocha Pinto,TEÓFILO OTONI,De 04/11/2019 a 20/12/2019
236,"Pré-IFNMG: Meritocracia, Igualdade de Oportuni...",Carlos Alberto Lopes dos Santos de Oliveira,TEÓFILO OTONI,De 25/06/2019 a 20/12/2019
237,Orientação Profissional: Um Olhar para o Futuro,Paula Pontes do Espirito Santo,TEÓFILO OTONI,De 30/04/2019 a 10/09/2019

In [512]:
pex2017.rename(columns={'TÍTULO':'Título','NOME COORDENADOR':'Coordenador','CAMPUS':'Campus'}, inplace = True)

In [513]:
pex2018.rename(columns={'TÍTULO':'Título','NOME COORDENADOR':'Coordenador','CAMPUS':'Campus'}, inplace = True)

In [514]:
pex2019.rename(columns={'TÍTULO':'Título','Coordenador':'Coordenador','CAMPUS':'Campus'}, inplace = True)

In [515]:
pex2017

,Título,Coordenador,Campus
0,Projeto de extensão para desenvolvimento da ca...,Alfredo Costa,Almenara
1,CineCampus: A sétima arte em formação,Pedro Herinque Prado da Silva,Almenara
2,Proposição de estratégias educacionais para d...,Alfredo Costa,Almenara
3,Utilização da vegetação nativa na alimentação...,Samuel Real Mota,Almenara
4,Acompanhamento dos Egressos do IFNMG/Campus A...,Benedita Silveira Neta,Almenara
...,...,...,...
220,Semana Interna de Prevenção de Acidente - SIPAT,Valmir Pereira Magalhães,Reitoria
221,Elaboração de portfólio de Oportunidades do IFNMG,Fernando Antônio Thomé Andrade,Reitoria
222,Semana Integrada de Eventos,Kleber Carvalho dos Santos,Reitoria
223,Reestruturação da pagina da Extensão no Portal...,Gustavo Henrich Evangelista Vieira,Reitoria
224,Clube do Empreendedor no IFNMG,Wadingthon Veloso Silva,Reitoria

In [516]:
pex2018

,Título,Coordenador,Campus
0,Introdução à Informática e Conceitos de Progra...,Thiago Bicalho Ferreira,Almenara
1,Health Life - software para gerenciamento de v...,Marcos Vinicius Montanari,Almenara
2,"Lixo Eletrônico: Inclusão Digital, Reaproveita...",Marco Aurelio Madureira de Carvalho,Almenara
3,Jogos Matemáticos: uma estratégia significativ...,Waldilainy de Campos,Almenara
4,Cidade Nova Digital III,Paulo Sergio Henrique dos Santos,Almenara
...,...,...,...
278,Projeto Acompanhamento de Egressos,Yuri Bento Marques,Teófilo Otoni
279,Projeto de Elaboração do Portfólio de Oportuni...,Yuri Bento Marques,Teófilo Otoni
280,Mucuri Cultura e Arte,Leandro de Paula Liberato,Teófilo Otoni
281,Desenvolvendo o Empreendedorismo Local: Ações ...,Gustavo Henrique Silva de Souza,Teófilo Otoni
282,Sustentabilidade Ambiental: Gerenciamento de R...,Ivan Carlos Carreiro Almeida,Teófilo Otoni

In [517]:
pex2019

,Título,Coordenador,Campus,Período de Execução
0,Análise da qualidade da água para o consumo hu...,Roberta Pereira Matos,ALMENARA,De 10/06/2019 a 07/12/2019
1,Desenvolvendo o Empreendedorismo Local: Ações ...,Paulo Eduardo Ferreira dos Santos,ALMENARA,De 01/05/2019 a 01/10/2019
2,Desenvolvimento de atividades para demonstraçã...,Edimilson Alves Barbosa,ALMENARA,De 10/06/2019 a 07/12/2019
3,Resgate e valorização de sementes de Feijão-Ca...,Jose Maria Gomes Neves,ALMENARA,De 10/06/2019 a 07/12/2019
4,EDUCAÇÃO EM SAÚDE SOBRE DOENÇAS CRÔNICAS NÃO -...,Leila Conceicao de Paula Miranda,ALMENARA,De 13/06/2019 a 05/12/2019
...,...,...,...,...
233,Xadrez nas escolas - Desenvolvendo Habilidades...,Heverton Schimidt Souza,TEÓFILO OTONI,De 02/05/2019 a 31/10/2019
234,RUMO AO PÓDIO - Um curso intensivo de Matemáti...,Carlos Alberto Lopes dos Santos de Oliveira,TEÓFILO OTONI,De 01/05/2019 a 20/12/2019
235,Projeto Hâpó,Edimar da Rocha Pinto,TEÓFILO OTONI,De 04/11/2019 a 20/12/2019
236,"Pré-IFNMG: Meritocracia, Igualdade de Oportuni...",Carlos Alberto Lopes dos Santos de Oliveira,TEÓFILO OTONI,De 25/06/2019 a 20/12/2019
237,Orientação Profissional: Um Olhar para o Futuro,Paula Pontes do Espirito Santo,TEÓFILO OTONI,De 30/04/2019 a 10/09/2019

7º Passo: Ver as colunas coincidentes entre os dataframes dos eventos de extensão e alterar nomes das colunas para padronizar os dados.

In [518]:
evex2017

                                       EVENTO/ SERVIÇO      CAMPUS Unnamed: 2
0                                            CONGRESSO         NaN        NaN
1    1. VI Congresso Latino-americano de Agroecolog...    Almenara        NaN
2    2. Olimpíada Brasileira de Robótica (OBR-2017)...    Almenara        NaN
3                  3. Congresso Nacional de Educação.     Almenara        NaN
4    1. Campus Diamantina se reúne para ouvir e deb...  Diamantina        NaN
..                                                 ...         ...        ...
126                                            MOSTRAS         NaN        NaN
127  1. I Mostra de Ciência e Tecnologia do IFNMG -...     Janaúba        NaN
128                                           WORKSHOP         NaN        NaN
129  1. O workshop em Recreação Hospitalar teve por...     Janaúba        NaN
130  1. Apresentação do projeto do controle de Aede...     Salinas        NaN

[131 rows x 3 columns]

In [519]:
evex2018

                                       EVENTO/ SERVIÇO         CAMPUS
0                                            CONGRESSO            NaN
1    1. A segunda edição do evento Porteirinha Tech...    Porteirinha
2                                 CURSOS CURTA DURAÇÃO            NaN
3    1. Apresentar os conceitos básicos de Geodiver...     Diamantina
4    2. A Lei Estadual de Incentivo à cultura faz a...     Diamantina
..                                                 ...            ...
119  2. Workshpp Gestão Estratégica e Produção Sust...        Salinas
120  3. Workshop Métodos e Abordagens de Ensino de ...        Salinas
121                                              FÓRUM            NaN
122  1. O Fórum das Organizações Sociais do Vale do...        Araçuaí
123  1. O I Fórum de Empreendedorismo e Tecnologia ...  Montes Claros

[124 rows x 2 columns]

In [520]:
evex2019

,Tipo de Evento,Descrição Sumária do Evento,Campus
0,Exposição e Feira,Festa da Mandioca cujo o principal objetivo é ...,Almenara
1,Cursos FIC,Curso para Agente Comunitário de Saúde,Almenara
2,Cursos Celin,Curso de Inglês,Almenara
3,Cursos Celin,Curso de Espanhol,Almenara
4,Cursos Curta duração,Curso de Robótica criativa com Scratch e Arduino,Almenara
...,...,...,...
169,Palestra e Mesa Redonda,Cidadania e Participação Popular,Teófilo Otoni
170,Palestra e Mesa Redonda,Elaboração de Currículos e Ética Profissional,Teófilo Otoni
171,Palestra e Mesa Redonda,História e Cultura dos Povos Originários do Mé...,Teófilo Otoni
172,Palestra e Mesa Redonda,Cidadania e participação popular,Teófilo Otoni
173,Seminário,Semeando o Desenvolvimento,Teófilo Otoni

In [521]:
evex2017.rename(columns={'EVENTO/ SERVIÇO':'Descrição do Evento','CAMPUS':'Campus'}, inplace = True)

In [522]:
evex2018.rename(columns={'EVENTO/ SERVIÇO':'Descrição do Evento','CAMPUS':'Campus'}, inplace = True)

In [523]:
evex2019.rename(columns={'Descrição Sumária do Evento':'Descrição do Evento'}, inplace = True)

In [524]:
evex2017

                                   Descrição do Evento      Campus Unnamed: 2
0                                            CONGRESSO         NaN        NaN
1    1. VI Congresso Latino-americano de Agroecolog...    Almenara        NaN
2    2. Olimpíada Brasileira de Robótica (OBR-2017)...    Almenara        NaN
3                  3. Congresso Nacional de Educação.     Almenara        NaN
4    1. Campus Diamantina se reúne para ouvir e deb...  Diamantina        NaN
..                                                 ...         ...        ...
126                                            MOSTRAS         NaN        NaN
127  1. I Mostra de Ciência e Tecnologia do IFNMG -...     Janaúba        NaN
128                                           WORKSHOP         NaN        NaN
129  1. O workshop em Recreação Hospitalar teve por...     Janaúba        NaN
130  1. Apresentação do projeto do controle de Aede...     Salinas        NaN

[131 rows x 3 columns]

8º Passo: Retirada de linhas indesejadas nos Dataframes de 2017 e 2018 e coluna no Dataframe de 2019.

In [525]:
evex2017=evex2017.drop([0,126,128])

In [526]:
evex2017

                                   Descrição do Evento      Campus Unnamed: 2
1    1. VI Congresso Latino-americano de Agroecolog...    Almenara        NaN
2    2. Olimpíada Brasileira de Robótica (OBR-2017)...    Almenara        NaN
3                  3. Congresso Nacional de Educação.     Almenara        NaN
4    1. Campus Diamantina se reúne para ouvir e deb...  Diamantina        NaN
5    2. A semana de Ciência e Tecnologia visa aprox...  Diamantina        NaN
..                                                 ...         ...        ...
124   3. Publicações na Semana Nacional de Ciência ...    Almenara        NaN
125  1. Exposição de Banners e Resumos de Projetos ...      Arinos        NaN
127  1. I Mostra de Ciência e Tecnologia do IFNMG -...     Janaúba        NaN
129  1. O workshop em Recreação Hospitalar teve por...     Janaúba        NaN
130  1. Apresentação do projeto do controle de Aede...     Salinas        NaN

[128 rows x 3 columns]

In [527]:
evex2018=evex2018.drop([0,2,121])

In [528]:
evex2018

                                       EVENTO/ SERVIÇO         Campus
1    1. A segunda edição do evento Porteirinha Tech...    Porteirinha
3    1. Apresentar os conceitos básicos de Geodiver...     Diamantina
4    2. A Lei Estadual de Incentivo à cultura faz a...     Diamantina
5    1. Curso: É Hora de Aprender Matemática. Aprof...        Salinas
6    2. Curso: Processamento de Leite na Fabricação...        Salinas
..                                                 ...            ...
118  1. SERBIO - Semana Regional da Biologia Oportu...        Salinas
119  2. Workshpp Gestão Estratégica e Produção Sust...        Salinas
120  3. Workshop Métodos e Abordagens de Ensino de ...        Salinas
122  1. O Fórum das Organizações Sociais do Vale do...        Araçuaí
123  1. O I Fórum de Empreendedorismo e Tecnologia ...  Montes Claros

[121 rows x 2 columns]

In [529]:
pesqs2017['Ano']='2017'

In [530]:
pesqs2018['Ano']='2018'

In [531]:
pesqs2019['Ano']='2019'

In [532]:
projs2017['Ano']='2017'

In [533]:
projs2018['Ano']='2018'

In [534]:
projs2019['Ano']='2019'

In [535]:
pex2017['Ano']='2017'

In [536]:
pex2018['Ano']='2018'

In [537]:
pex2019['Ano']='2019'

In [538]:
evex2017['Ano']='2017'

In [539]:
evex2018['Ano']='2018'

In [540]:
evex2019['Ano']='2019'

9º Passo: Análise dos Dataframes para ver alterações que ainda são necessárias, para compatibilização dos dados.

In [541]:
pesqs2017

                           Coordenador         Campus   Ano
1                   Adler Augusto Rath       Pirapora  2017
2     Alberto Alexandre Assis Miranda   Montes Claros  2017
3                     Alberto da Silva  Montes Claros  2017
4          Alberto Luiz Ferreira Berto       Januária  2017
5    Alcides Ricardo Gomes de Oliveira        Salinas  2017
..                                 ...            ...   ...
270            Wesley Antunes Meireles        Salinas  2017
271      Wesley Florentino de Oliveira       Pirapora  2017
272                Wilma Maria Pereira       Pirapora  2017
273        Wolff Camargo Marques Filho        Salinas  2017
274                 Yuri Bento Marques  Teófilo Otoni  2017

[274 rows x 3 columns]

In [542]:
pesqs2018

                          Coordenador         Campus   Ano
1                       Alfredo Costa      Alamenara  2018
2         Aline Márcia Carraro Borges      Alamenara  2018
3             Edimilson Alves Barbosa      Alamenara  2018
4               Ednilton Moreira Gama      Alamenara  2018
5             Emanuelly Alves Pelogio      Alamenara  2018
..                                ...            ...   ...
180         Gustavo Henrique de Souza  Teófilo Otoni  2018
181  Gustavo Henrique Silva de Souza   Teófilo Otoni  2018
182        Henrique Faria de Oliveira  Teófilo Otoni  2018
183     Renildo Ismael Félix da Costa  Teófilo Otoni  2018
184                Yuri Bento Marques  Teófilo Otoni  2018

[184 rows x 3 columns]

In [543]:
pesqs2019

                         Coordenador         Campus   Ano
1          Alan Teixeira de Oliveira       Almenara  2019
2                  Alex Lara Martins       Almenara  2019
3                      Alfredo Costa       Almenara  2019
4             Daiane Prates Mendonça       Almenara  2019
5             Danuza Araújo de Souza       Almenara  2019
..                               ...            ...   ...
206  Gustavo Henrique Silva de Souza  Teófilo Otoni  2019
207     Ivan Carlos Carreiro Almeida  Teófilo Otoni  2019
208    Luara Cristiane Dourado Neves  Teófilo Otoni  2019
209  Maria Terezinha Pereira Pestana  Teófilo Otoni  2019
210               Yuri Bento Marques  Teófilo Otoni  2019

[210 rows x 3 columns]

In [544]:
projs2017

,Campus,Título,Coordenador,Ano
1,Almenara,Da Maternidade Linguística ao Discurso: Possív...,Christiano Titonelo Santana,2017
2,Almenara,A Percepção das Puérperas Sobre as Ações Educa...,Diane Prates Mendonça,2017
3,Almenara,Desenvolvimento de uma Plataforma Digital para...,Tiago Bicalho Ferreira,2017
4,Almenara,IFAPP  Desenvolvimento de um Software Aplicat...,Marcos Vinícius Montanari,2017
5,Almenara,Divulgação do Potencial Turístico do Vale do J...,Rafael Porto Viana,2017
...,...,...,...,...
268,Salinas,Fenologia de Diospyros Sericea A. DC. (Ebenace...,Michellia Pereira Soares,2017
269,Salinas,Utilização do Mesocarpo Externo do Pequi (Cary...,Alexandre Santos de Souza,2017
270,Salinas,Elaboração do Caldo de pequi (Caryocar brasili...,Alexandre Santos de Souza,2017
271,Teófilo Otoni,Historietas do Comportamento Brasileiro: Valid...,Gustavo Henrique Silva de Souza,2017
272,Teófilo Otoni,Plataforma Online para Mapeamento da Cultura n...,Yuri Bento Marques,2017

In [545]:
projs2018

,Campus,Título,Coordenador,Ano
1,Alamenara,Intervenção na Prevenção e Controle do Tabagis...,Rosângela Ferreira Ribeiro,2018
2,Alamenara,Estratégias para Enfrentamentos aos Agravos À ...,Valéria Gonzaga Botelho,2018
3,Alamenara,Planejamento Estratégico Aplicado a Micro e Pe...,Emanuelly Alves Pelogio,2018
4,Alamenara,Qualidade de Vida no Trabalho: Estudo de Caso ...,Aline Márcia Carraro Borges,2018
5,Alamenara,Bobchurras: Solução Tecnológica em E-Ecommerce...,Thiago Bicalho Ferreira,2018
...,...,...,...,...
282,Teófilo Otoni,"Comportamento Empreendedor, Valores Básicos e ...",Gustavo Henrique Silva de Souza,2018
283,Teófilo Otoni,Modelos Motivacionais Padronizados na Administ...,Gustavo Henrique Silva de Souza,2018
284,Teófilo Otoni,Tanque guarda-chuva: Desenvolvimento de Sistem...,Renildo Ismael Félix da Costa,2018
285,Teófilo Otoni,"Comportamento Empreendedor, Valores Básicos e ...",Gustavo Henrique de Souza,2018
286,Teófilo Otoni,Clima Organizacional e Padrões Individuais no ...,Gustavo Henrique Silva de Souza,2018

In [546]:
projs2019

,Campus,Título,Coordenador,Ano
0,Almenara,Desenvolvimento de método analítico para deter...,Ednilton Moreira Gama,2019
1,Almenara,Aprimorar é preciso: Pesquisa de percepção sob...,Alfredo Costa,2019
2,Almenara,Produção de guias de estudo para o modelo de s...,Regina Mendes de Araújo,2019
3,Almenara,Avaliação Gerencial em Administração Pública: ...,Dayane Patrícia Cunha de França,2019
4,Almenara,Análise do Perfil Epidomiologia da Hanseníase ...,Leila Conceição de Paula Miranda,2019
...,...,...,...,...
372,Teófilo Otoni,Mapeamento e estrutura cultural do Norte de Mi...,Yuri Bento Marques,2019
373,Teófilo Otoni,"Impactos da erosão hídrica, perda de solo e ág...",Ivan Carlos Carreiro Almeida,2019
374,Teófilo Otoni,Empreendedores versus inventores: Testagem de ...,Gustavo Henrique Silva de Souza,2019
375,Teófilo Otoni,Influência do Uso do Solo e da Topografia na P...,Ivan Carlos Carreiro Almeida,2019
376,Teófilo Otoni,Instrumentação Padronizada na Administração de...,Ana Cláudia Gonçalves de Sá Jardim,2019

In [547]:
pex2017

,Título,Coordenador,Campus,Ano
0,Projeto de extensão para desenvolvimento da ca...,Alfredo Costa,Almenara,2017
1,CineCampus: A sétima arte em formação,Pedro Herinque Prado da Silva,Almenara,2017
2,Proposição de estratégias educacionais para d...,Alfredo Costa,Almenara,2017
3,Utilização da vegetação nativa na alimentação...,Samuel Real Mota,Almenara,2017
4,Acompanhamento dos Egressos do IFNMG/Campus A...,Benedita Silveira Neta,Almenara,2017
...,...,...,...,...
220,Semana Interna de Prevenção de Acidente - SIPAT,Valmir Pereira Magalhães,Reitoria,2017
221,Elaboração de portfólio de Oportunidades do IFNMG,Fernando Antônio Thomé Andrade,Reitoria,2017
222,Semana Integrada de Eventos,Kleber Carvalho dos Santos,Reitoria,2017
223,Reestruturação da pagina da Extensão no Portal...,Gustavo Henrich Evangelista Vieira,Reitoria,2017
224,Clube do Empreendedor no IFNMG,Wadingthon Veloso Silva,Reitoria,2017

In [548]:
pex2018

,Título,Coordenador,Campus,Ano
0,Introdução à Informática e Conceitos de Progra...,Thiago Bicalho Ferreira,Almenara,2018
1,Health Life - software para gerenciamento de v...,Marcos Vinicius Montanari,Almenara,2018
2,"Lixo Eletrônico: Inclusão Digital, Reaproveita...",Marco Aurelio Madureira de Carvalho,Almenara,2018
3,Jogos Matemáticos: uma estratégia significativ...,Waldilainy de Campos,Almenara,2018
4,Cidade Nova Digital III,Paulo Sergio Henrique dos Santos,Almenara,2018
...,...,...,...,...
278,Projeto Acompanhamento de Egressos,Yuri Bento Marques,Teófilo Otoni,2018
279,Projeto de Elaboração do Portfólio de Oportuni...,Yuri Bento Marques,Teófilo Otoni,2018
280,Mucuri Cultura e Arte,Leandro de Paula Liberato,Teófilo Otoni,2018
281,Desenvolvendo o Empreendedorismo Local: Ações ...,Gustavo Henrique Silva de Souza,Teófilo Otoni,2018
282,Sustentabilidade Ambiental: Gerenciamento de R...,Ivan Carlos Carreiro Almeida,Teófilo Otoni,2018

In [549]:
pex2019

,Título,Coordenador,Campus,Período de Execução,Ano
0,Análise da qualidade da água para o consumo hu...,Roberta Pereira Matos,ALMENARA,De 10/06/2019 a 07/12/2019,2019
1,Desenvolvendo o Empreendedorismo Local: Ações ...,Paulo Eduardo Ferreira dos Santos,ALMENARA,De 01/05/2019 a 01/10/2019,2019
2,Desenvolvimento de atividades para demonstraçã...,Edimilson Alves Barbosa,ALMENARA,De 10/06/2019 a 07/12/2019,2019
3,Resgate e valorização de sementes de Feijão-Ca...,Jose Maria Gomes Neves,ALMENARA,De 10/06/2019 a 07/12/2019,2019
4,EDUCAÇÃO EM SAÚDE SOBRE DOENÇAS CRÔNICAS NÃO -...,Leila Conceicao de Paula Miranda,ALMENARA,De 13/06/2019 a 05/12/2019,2019
...,...,...,...,...,...
233,Xadrez nas escolas - Desenvolvendo Habilidades...,Heverton Schimidt Souza,TEÓFILO OTONI,De 02/05/2019 a 31/10/2019,2019
234,RUMO AO PÓDIO - Um curso intensivo de Matemáti...,Carlos Alberto Lopes dos Santos de Oliveira,TEÓFILO OTONI,De 01/05/2019 a 20/12/2019,2019
235,Projeto Hâpó,Edimar da Rocha Pinto,TEÓFILO OTONI,De 04/11/2019 a 20/12/2019,2019
236,"Pré-IFNMG: Meritocracia, Igualdade de Oportuni...",Carlos Alberto Lopes dos Santos de Oliveira,TEÓFILO OTONI,De 25/06/2019 a 20/12/2019,2019
237,Orientação Profissional: Um Olhar para o Futuro,Paula Pontes do Espirito Santo,TEÓFILO OTONI,De 30/04/2019 a 10/09/2019,2019

In [550]:
evex2017

,Descrição do Evento,Campus,Unnamed: 2,Ano
1,1. VI Congresso Latino-americano de Agroecolog...,Almenara,NaN,2017
2,2. Olimpíada Brasileira de Robótica (OBR-2017)...,Almenara,NaN,2017
3,3. Congresso Nacional de Educação.,Almenara,NaN,2017
4,1. Campus Diamantina se reúne para ouvir e deb...,Diamantina,NaN,2017
5,2. A semana de Ciência e Tecnologia visa aprox...,Diamantina,NaN,2017
...,...,...,...,...
124,3. Publicações na Semana Nacional de Ciência ...,Almenara,NaN,2017
125,1. Exposição de Banners e Resumos de Projetos ...,Arinos,NaN,2017
127,1. I Mostra de Ciência e Tecnologia do IFNMG -...,Janaúba,NaN,2017
129,1. O workshop em Recreação Hospitalar teve por...,Janaúba,NaN,2017
130,1. Apresentação do projeto do controle de Aede...,Salinas,NaN,2017

In [551]:
evex2018

                                       EVENTO/ SERVIÇO         Campus   Ano
1    1. A segunda edição do evento Porteirinha Tech...    Porteirinha  2018
3    1. Apresentar os conceitos básicos de Geodiver...     Diamantina  2018
4    2. A Lei Estadual de Incentivo à cultura faz a...     Diamantina  2018
5    1. Curso: É Hora de Aprender Matemática. Aprof...        Salinas  2018
6    2. Curso: Processamento de Leite na Fabricação...        Salinas  2018
..                                                 ...            ...   ...
118  1. SERBIO - Semana Regional da Biologia Oportu...        Salinas  2018
119  2. Workshpp Gestão Estratégica e Produção Sust...        Salinas  2018
120  3. Workshop Métodos e Abordagens de Ensino de ...        Salinas  2018
122  1. O Fórum das Organizações Sociais do Vale do...        Araçuaí  2018
123  1. O I Fórum de Empreendedorismo e Tecnologia ...  Montes Claros  2018

[121 rows x 3 columns]

In [552]:
evex2019

,Tipo de Evento,Descrição do Evento,Campus,Ano
0,Exposição e Feira,Festa da Mandioca cujo o principal objetivo é ...,Almenara,2019
1,Cursos FIC,Curso para Agente Comunitário de Saúde,Almenara,2019
2,Cursos Celin,Curso de Inglês,Almenara,2019
3,Cursos Celin,Curso de Espanhol,Almenara,2019
4,Cursos Curta duração,Curso de Robótica criativa com Scratch e Arduino,Almenara,2019
...,...,...,...,...
169,Palestra e Mesa Redonda,Cidadania e Participação Popular,Teófilo Otoni,2019
170,Palestra e Mesa Redonda,Elaboração de Currículos e Ética Profissional,Teófilo Otoni,2019
171,Palestra e Mesa Redonda,História e Cultura dos Povos Originários do Mé...,Teófilo Otoni,2019
172,Palestra e Mesa Redonda,Cidadania e participação popular,Teófilo Otoni,2019
173,Seminário,Semeando o Desenvolvimento,Teófilo Otoni,2019

10º Passo: Organizar alterações ainda necessárias(Retirar colunas nos Dataframes de Projetos de extensão e eventos de extensão, e alterar nome de coluna em eventos de extensão 2018, Retirar coluna tipo de evento no Dataframe eventos de extensão 2019).

In [553]:
evex2017=evex2017.drop(columns=['Unnamed: 2'])

In [554]:
evex2017

                                   Descrição do Evento      Campus   Ano
1    1. VI Congresso Latino-americano de Agroecolog...    Almenara  2017
2    2. Olimpíada Brasileira de Robótica (OBR-2017)...    Almenara  2017
3                  3. Congresso Nacional de Educação.     Almenara  2017
4    1. Campus Diamantina se reúne para ouvir e deb...  Diamantina  2017
5    2. A semana de Ciência e Tecnologia visa aprox...  Diamantina  2017
..                                                 ...         ...   ...
124   3. Publicações na Semana Nacional de Ciência ...    Almenara  2017
125  1. Exposição de Banners e Resumos de Projetos ...      Arinos  2017
127  1. I Mostra de Ciência e Tecnologia do IFNMG -...     Janaúba  2017
129  1. O workshop em Recreação Hospitalar teve por...     Janaúba  2017
130  1. Apresentação do projeto do controle de Aede...     Salinas  2017

[128 rows x 3 columns]

In [555]:
pex2019=pex2019.drop(columns=['Período de Execução'])

In [556]:
pex2019

,Título,Coordenador,Campus,Ano
0,Análise da qualidade da água para o consumo hu...,Roberta Pereira Matos,ALMENARA,2019
1,Desenvolvendo o Empreendedorismo Local: Ações ...,Paulo Eduardo Ferreira dos Santos,ALMENARA,2019
2,Desenvolvimento de atividades para demonstraçã...,Edimilson Alves Barbosa,ALMENARA,2019
3,Resgate e valorização de sementes de Feijão-Ca...,Jose Maria Gomes Neves,ALMENARA,2019
4,EDUCAÇÃO EM SAÚDE SOBRE DOENÇAS CRÔNICAS NÃO -...,Leila Conceicao de Paula Miranda,ALMENARA,2019
...,...,...,...,...
233,Xadrez nas escolas - Desenvolvendo Habilidades...,Heverton Schimidt Souza,TEÓFILO OTONI,2019
234,RUMO AO PÓDIO - Um curso intensivo de Matemáti...,Carlos Alberto Lopes dos Santos de Oliveira,TEÓFILO OTONI,2019
235,Projeto Hâpó,Edimar da Rocha Pinto,TEÓFILO OTONI,2019
236,"Pré-IFNMG: Meritocracia, Igualdade de Oportuni...",Carlos Alberto Lopes dos Santos de Oliveira,TEÓFILO OTONI,2019
237,Orientação Profissional: Um Olhar para o Futuro,Paula Pontes do Espirito Santo,TEÓFILO OTONI,2019

In [557]:
evex2018.columns

Index([' EVENTO/ SERVIÇO', 'Campus', 'Ano'], dtype='object')

In [558]:
evex2018.rename(columns={' EVENTO/ SERVIÇO':'Descrição do Evento'}, inplace = True)

In [559]:
evex2018

                                   Descrição do Evento         Campus   Ano
1    1. A segunda edição do evento Porteirinha Tech...    Porteirinha  2018
3    1. Apresentar os conceitos básicos de Geodiver...     Diamantina  2018
4    2. A Lei Estadual de Incentivo à cultura faz a...     Diamantina  2018
5    1. Curso: É Hora de Aprender Matemática. Aprof...        Salinas  2018
6    2. Curso: Processamento de Leite na Fabricação...        Salinas  2018
..                                                 ...            ...   ...
118  1. SERBIO - Semana Regional da Biologia Oportu...        Salinas  2018
119  2. Workshpp Gestão Estratégica e Produção Sust...        Salinas  2018
120  3. Workshop Métodos e Abordagens de Ensino de ...        Salinas  2018
122  1. O Fórum das Organizações Sociais do Vale do...        Araçuaí  2018
123  1. O I Fórum de Empreendedorismo e Tecnologia ...  Montes Claros  2018

[121 rows x 3 columns]

In [560]:
evex2019=evex2019.drop(columns=['Tipo de Evento'])

In [561]:
evex2019

                                   Descrição do Evento         Campus   Ano
0    Festa da Mandioca cujo o principal objetivo é ...       Almenara  2019
1               Curso para Agente Comunitário de Saúde       Almenara  2019
2                                      Curso de Inglês       Almenara  2019
3                                    Curso de Espanhol       Almenara  2019
4     Curso de Robótica criativa com Scratch e Arduino       Almenara  2019
..                                                 ...            ...   ...
169                   Cidadania e Participação Popular  Teófilo Otoni  2019
170      Elaboração de Currículos e Ética Profissional  Teófilo Otoni  2019
171  História e Cultura dos Povos Originários do Mé...  Teófilo Otoni  2019
172                   Cidadania e participação popular  Teófilo Otoni  2019
173                         Semeando o Desenvolvimento  Teófilo Otoni  2019

[174 rows x 3 columns]

11º Passo: Concatenação para criar o novo DataFrame.

In [562]:
novodf = pd.concat([pesqs2017, pesqs2018, pesqs2019, projs2017, projs2018, projs2019, pex2017, pex2018, pex2019, evex2017, evex2018, evex2019])

In [563]:
novodf

,Coordenador,Campus,Ano,Título,Descrição do Evento
1,Adler Augusto Rath,Pirapora,2017,NaN,NaN
2,Alberto Alexandre Assis Miranda,Montes Claros,2017,NaN,NaN
3,Alberto da Silva,Montes Claros,2017,NaN,NaN
4,Alberto Luiz Ferreira Berto,Januária,2017,NaN,NaN
5,Alcides Ricardo Gomes de Oliveira,Salinas,2017,NaN,NaN
...,...,...,...,...,...
169,NaN,Teófilo Otoni,2019,NaN,Cidadania e Participação Popular
170,NaN,Teófilo Otoni,2019,NaN,Elaboração de Currículos e Ética Profissional
171,NaN,Teófilo Otoni,2019,NaN,História e Cultura dos Povos Originários do Mé...
172,NaN,Teófilo Otoni,2019,NaN,Cidadania e participação popular
173,NaN,Teófilo Otoni,2019,NaN,Semeando o Desenvolvimento

12º Passo: Transformar uma coluna em índice.

In [564]:
novodf.set_index("Campus")

,Coordenador,Ano,Título,Descrição do Evento
Campus,,,,
Pirapora,Adler Augusto Rath,2017,NaN,NaN
Montes Claros,Alberto Alexandre Assis Miranda,2017,NaN,NaN
Montes Claros,Alberto da Silva,2017,NaN,NaN
Januária,Alberto Luiz Ferreira Berto,2017,NaN,NaN
Salinas,Alcides Ricardo Gomes de Oliveira,2017,NaN,NaN
...,...,...,...,...
Teófilo Otoni,NaN,2019,NaN,Cidadania e Participação Popular
Teófilo Otoni,NaN,2019,NaN,Elaboração de Currículos e Ética Profissional
Teófilo Otoni,NaN,2019,NaN,História e Cultura dos Povos Originários do Mé...
Teófilo Otoni,NaN,2019,NaN,Cidadania e participação popular
Teófilo Otoni,NaN,2019,NaN,Semeando o Desenvolvimento

In [565]:
novodf.to_csv('novodataframequestao1')

Questão 2)

1º Passo: Carregamento dos dados.

In [599]:
comb2017 = pd.read_csv('http://www.anp.gov.br/arquivos/dadosabertos/vc/vendas-gasolinaaviacao-municipio-2017.csv',encoding='iso-8859-1',sep=';')

In [600]:
comb2018 = pd.read_csv('http://www.anp.gov.br/arquivos/dadosabertos/vc/vendas-gasolinaaviacao-municipio-2018.csv',encoding='iso-8859-1',sep=';')

In [601]:
comb2019 = pd.read_csv('https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/vdpb/gasolina-aviacao/vendas-gasolina-aviacao-municipio-2019.csv',encoding='iso-8859-1',sep=';')

2º Passo: Análise dos dados.

In [602]:
comb2017

      ANO      ESTADO  CÓDIGO IBGE                Município  Vendas
0    2017       Acre       1200203          CRUZEIRO DO SUL  194000
1    2017       Acre       1200302                    FEIJO  110000
2    2017       Acre       1200401               RIO BRANCO  235000
3    2017       Acre       1200450         SENADOR GUIOMARD  200000
4    2017    Alagoas       2701506             CAMPO GRANDE     395
..    ...         ...          ...                      ...     ...
542  2017  Tocantins       1710706               ITAGUATINS   35000
543  2017  Tocantins       1721000                   PALMAS  201000
544  2017  Tocantins       1716109     PARAISO DO TOCANTINS  126000
545  2017  Tocantins       1718204           PORTO NACIONAL  110000
546  2017  Tocantins       1718899  SANTA RITA DO TOCANTINS  347000

[547 rows x 5 columns]

In [603]:
comb2018

         ANO    ESTADO  CODIGO IBGE         Municipio    Vendas
0     2018.0     Acre     1200203.0   CRUZEIRO DO SUL  258000.0
1     2018.0     Acre     1200302.0             FEIJO   85000.0
2     2018.0     Acre     1200401.0        RIO BRANCO  415000.0
3     2018.0     Acre     1200450.0  SENADOR GUIOMARD   20000.0
4     2018.0  Alagoas     2704302.0            MACEIO   45610.0
...      ...       ...          ...               ...       ...
9994     NaN       NaN          NaN               NaN       NaN
9995     NaN       NaN          NaN               NaN       NaN
9996     NaN       NaN          NaN               NaN       NaN
9997     NaN       NaN          NaN               NaN       NaN
9998     NaN       NaN          NaN               NaN       NaN

[9999 rows x 5 columns]

In [604]:
comb2019

     ï»¿ANO            ESTADO  CÃDIGO IBGE              MunicÃ­pio     Vendas
0    2019.0         RondÃ´nia     1100023.0               ARIQUEMES    50.165
1    2019.0         RondÃ´nia     1100049.0                  CACOAL   175.000
2    2019.0         RondÃ´nia     1100122.0               JI-PARANA       459
3    2019.0         RondÃ´nia     1100189.0           PIMENTA BUENO    10.000
4    2019.0         RondÃ´nia     1100205.0             PORTO VELHO    53.119
..      ...               ...           ...                     ...        ...
571  2019.0            GoiÃ¡s     5220207.0  SAO MIGUEL DO ARAGUAIA   213.000
572  2019.0            GoiÃ¡s     5220702.0          SITIO D'ABADIA    10.000
573  2019.0  Distrito Federal     5300108.0                BRASILIA   159.119
574     NaN               NaN           NaN                     NaN        NaN
575     NaN               NaN           NaN                     NaN        NaN

[576 rows x 5 columns]

3º Passo: Deixando as colunas com os mesmos nomes

In [605]:
comb2018.rename(columns={'CODIGO IBGE':'CÓDIGO IBGE','Municipio':'Município'}, inplace = True)

In [606]:
comb2018

         ANO    ESTADO  CÓDIGO IBGE         Município    Vendas
0     2018.0     Acre     1200203.0   CRUZEIRO DO SUL  258000.0
1     2018.0     Acre     1200302.0             FEIJO   85000.0
2     2018.0     Acre     1200401.0        RIO BRANCO  415000.0
3     2018.0     Acre     1200450.0  SENADOR GUIOMARD   20000.0
4     2018.0  Alagoas     2704302.0            MACEIO   45610.0
...      ...       ...          ...               ...       ...
9994     NaN       NaN          NaN               NaN       NaN
9995     NaN       NaN          NaN               NaN       NaN
9996     NaN       NaN          NaN               NaN       NaN
9997     NaN       NaN          NaN               NaN       NaN
9998     NaN       NaN          NaN               NaN       NaN

[9999 rows x 5 columns]

In [607]:
comb2019.columns

Index(['ï»¿ANO', 'ESTADO', 'CÃDIGO IBGE', 'MunicÃ­pio', 'Vendas'], dtype='object')

In [608]:
comb2019.rename(columns={'ï»¿ANO':'ANO','CÃDIGO IBGE':'CÓDIGO IBGE','MunicÃ­pio':'Município'}, inplace = True)

In [609]:
comb2019

        ANO            ESTADO  CÓDIGO IBGE               Município     Vendas
0    2019.0         RondÃ´nia    1100023.0               ARIQUEMES    50.165
1    2019.0         RondÃ´nia    1100049.0                  CACOAL   175.000
2    2019.0         RondÃ´nia    1100122.0               JI-PARANA       459
3    2019.0         RondÃ´nia    1100189.0           PIMENTA BUENO    10.000
4    2019.0         RondÃ´nia    1100205.0             PORTO VELHO    53.119
..      ...               ...          ...                     ...        ...
571  2019.0            GoiÃ¡s    5220207.0  SAO MIGUEL DO ARAGUAIA   213.000
572  2019.0            GoiÃ¡s    5220702.0          SITIO D'ABADIA    10.000
573  2019.0  Distrito Federal    5300108.0                BRASILIA   159.119
574     NaN               NaN          NaN                     NaN        NaN
575     NaN               NaN          NaN                     NaN        NaN

[576 rows x 5 columns]

4º Passo: Retirando todas as linhas em que todos os elementos sejam valores NaN.

In [610]:
comb2017.dropna(axis=0, how='all')

      ANO      ESTADO  CÓDIGO IBGE                Município  Vendas
0    2017       Acre       1200203          CRUZEIRO DO SUL  194000
1    2017       Acre       1200302                    FEIJO  110000
2    2017       Acre       1200401               RIO BRANCO  235000
3    2017       Acre       1200450         SENADOR GUIOMARD  200000
4    2017    Alagoas       2701506             CAMPO GRANDE     395
..    ...         ...          ...                      ...     ...
542  2017  Tocantins       1710706               ITAGUATINS   35000
543  2017  Tocantins       1721000                   PALMAS  201000
544  2017  Tocantins       1716109     PARAISO DO TOCANTINS  126000
545  2017  Tocantins       1718204           PORTO NACIONAL  110000
546  2017  Tocantins       1718899  SANTA RITA DO TOCANTINS  347000

[547 rows x 5 columns]

In [611]:
comb2018.dropna(axis=0, how='all')

        ANO      ESTADO  CÓDIGO IBGE                Município    Vendas
0    2018.0       Acre     1200203.0          CRUZEIRO DO SUL  258000.0
1    2018.0       Acre     1200302.0                    FEIJO   85000.0
2    2018.0       Acre     1200401.0               RIO BRANCO  415000.0
3    2018.0       Acre     1200450.0         SENADOR GUIOMARD   20000.0
4    2018.0    Alagoas     2704302.0                   MACEIO   45610.0
..      ...         ...          ...                      ...       ...
561  2018.0  Tocantins     1711100.0     ITAPORA DO TOCANTINS     225.0
562  2018.0  Tocantins     1721000.0                   PALMAS  187950.0
563  2018.0  Tocantins     1716109.0     PARAISO DO TOCANTINS  162000.0
564  2018.0  Tocantins     1718204.0           PORTO NACIONAL  120000.0
565  2018.0  Tocantins     1718899.0  SANTA RITA DO TOCANTINS  259000.0

[566 rows x 5 columns]

In [612]:
comb2019.dropna(axis=0, how='all')

        ANO            ESTADO  CÓDIGO IBGE               Município     Vendas
0    2019.0         RondÃ´nia    1100023.0               ARIQUEMES    50.165
1    2019.0         RondÃ´nia    1100049.0                  CACOAL   175.000
2    2019.0         RondÃ´nia    1100122.0               JI-PARANA       459
3    2019.0         RondÃ´nia    1100189.0           PIMENTA BUENO    10.000
4    2019.0         RondÃ´nia    1100205.0             PORTO VELHO    53.119
..      ...               ...          ...                     ...        ...
569  2019.0            GoiÃ¡s    5218805.0               RIO VERDE       285
570  2019.0            GoiÃ¡s    5219308.0   SANTA HELENA DE GOIAS    12.000
571  2019.0            GoiÃ¡s    5220207.0  SAO MIGUEL DO ARAGUAIA   213.000
572  2019.0            GoiÃ¡s    5220702.0          SITIO D'ABADIA    10.000
573  2019.0  Distrito Federal    5300108.0                BRASILIA   159.119

[574 rows x 5 columns]

In [613]:
novodf2 = pd.concat([comb2017,comb2018,comb2019])

In [614]:
novodf2

        ANO            ESTADO  CÓDIGO IBGE               Município     Vendas
0    2017.0             Acre     1200203.0         CRUZEIRO DO SUL     194000
1    2017.0             Acre     1200302.0                   FEIJO     110000
2    2017.0             Acre     1200401.0              RIO BRANCO     235000
3    2017.0             Acre     1200450.0        SENADOR GUIOMARD     200000
4    2017.0          Alagoas     2701506.0            CAMPO GRANDE        395
..      ...               ...          ...                     ...        ...
571  2019.0            GoiÃ¡s    5220207.0  SAO MIGUEL DO ARAGUAIA   213.000
572  2019.0            GoiÃ¡s    5220702.0          SITIO D'ABADIA    10.000
573  2019.0  Distrito Federal    5300108.0                BRASILIA   159.119
574     NaN               NaN          NaN                     NaN        NaN
575     NaN               NaN          NaN                     NaN        NaN

[11122 rows x 5 columns]

In [617]:
novodf2.to_json('novodataframequestao2',orient='split')

d) Um arquivo JSON é um JavaScript Object Notation que armazena dados em formato hierárquico, as principais vantagens do JSON sobre o CSV é o fato de manter estruturas hierárquicas, a maioria das linguagens de programação fornece suporte nativo para desserialização deste formato, tem suporte para objetos e, também é usado para banco de dados.